body {
    font-family: Arial, sans-serif;
    background-color: white;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Permet d'occuper l'espace disponible */
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: white;
    padding: 50px 20px;
}
.hero-text {
    max-width: 600px;
}
.hero-text h1 {
    color: #345afb;
    font-weight: bold;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Style pour le lien FALOU */
.navbar-brand {
    font-family: 'Playfair Display', serif !important; 
    font-size: 2rem !important; 
    color: #345afb !important; 
    text-transform: uppercase !important; 
    font-weight: 700 !important; 
}

/* Styles Navbar */
.navbar-nav .nav-link {
    color: #345afb; /* Bleu Bootstrap */
    transition: all 0.3s ease;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline; /* Ajoute un soulignement */
    color: #345afb !important; /* Garde la même couleur */
}

.modal-body p {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.modal-body p:last-child {
    border-bottom: none;
}


/* Style ccontacts */
.contact-icon {
    width: 40px;
    height: 40px;
    background: #345afb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
}

.contact-card {
    padding: 1rem;
    border-radius: 10px;
    transition: background 0.3s;
}

.contact-card:hover {
    background: #f8f9fa;
}

.social-link {
    font-size: 1.5rem;
    color: #345afb;
    transition: transform 0.3s;
}

.social-link:hover {
    color: #2d3436;
    transform: translateY(-2px);
}

.modal-header-profile {
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.modal-content {
    border-radius: 15px;
    overflow: hidden;
}


/* Styles Footer */
.footer {
    background: #345afb;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}